.title-bg-c{
    background-color: #FFF9F4;
}
.text-coler-costom{
    color: #FA804C;
}
.title-costom{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}
.other-bold{
    font-family: 'Roboto', sans-serif;
}
.nice-card{
    border: 0;
}
.nice-card-footer{
    background-color:white;
    border:0;
}
.gbimg{
    background-color: #F1F1F1;
    border-radius: 52px;
}
.button-colorr{
    margin-left: auto;
    width: 146px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: #3D4FF3 !important;
    border-color: aquamarine !important;
}